ledningsdatabase/xsd/Ledningsdatabase_wfs.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:bymlk="https://bym.oslo.no/skjema/Ledningsdatabase" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:wfs="http://www.opengis.net/wfs/2.0" elementFormDefault="qualified" targetNamespace="https://bym.oslo.no/skjema/Ledningsdatabase" version="2.1.0">
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd" />
  <import namespace="http://www.opengis.net/wfs/2.0" schemaLocation="http://schemas.opengis.net/wfs/2.0/wfs.xsd" />
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="AndreTermineringspunkt" substitutionGroup="bymlk:Kopling" type="bymlk:AndreTermineringspunktType">
    <annotation>
      <documentation>Andre termineringspunkt er en samlebetegnelse for fysiske objekter eller installasjoner der BYM terminerer rør, men hvor objektet ikke modelleres som kum eller fundament. Objekttypen benyttes typisk for installasjoner tilhørende andre infrastruktureiere, særlig Sporveien.
Eksempler kan være minuskasse, billettautomat, leskur, informasjonssøyle eller andre tekniske installasjoner hvor BYM har rør terminert inn i objektet. Objekttypen benyttes også for BYM-relaterte termineringer som røravslutning, rørforlengelse og rørovergang. 
AndreTermineringspunkt registreres som punktgeometri, målt som topp senterpunkt for objektet.</documentation>
    </annotation>
  </element>
  <complexType name="AndreTermineringspunktType">
    <complexContent>
      <extension base="bymlk:KoplingType">
        <sequence>
          <element minOccurs="0" name="kategori" type="bymlk:AndreTermineringspunktkategoriType">
            <annotation>
              <documentation>Termineringspunkt kategori: Angir hvilken type annet termineringspunkt objektet representerer, for eksempel minuskasse, detektorsløyfe, infoskjerm eller billettautomat. Verdien velges fra kodelisten `AndreTermineringspunktType`.</documentation>
              <appinfo>
                <defaultCodeSpace xmlns="http://www.opengis.net/gml/3.2">https://bym.oslo.no/codelists/ledningskartet/1.0/bymlk_AndreTermineringspunktkategori.gml</defaultCodeSpace>
              </appinfo>
            </annotation>
          </element>
          <element name="senterpunkt" type="bymlk:PunktgeometriPropertyType" />
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AndreTermineringspunktPropertyType">
    <sequence minOccurs="0">
      <element ref="bymlk:AndreTermineringspunkt" />
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup" />
    <attributeGroup ref="gml:OwnershipAttributeGroup" />
  </complexType>
  <simpleType name="AndreTermineringspunktkategoriType">
    <annotation>
      <documentation>Angir hvilken type termineringspunkt objektet representerer, for eksempel minuskasse, infoskjerm eller billettautomat. Verdien velges fra kodeliste.</documentation>
    </annotation>
    <union memberTypes="bymlk:AndreTermineringspunktkategoriEnumerationType bymlk:AndreTermineringspunktkategoriOtherType" />
  </simpleType>
  <simpleType name="AndreTermineringspunktkategoriEnumerationType">
    <annotation>
      <documentation>Angir hvilken type termineringspunkt objektet representerer, for eksempel minuskasse, infoskjerm eller billettautomat. Verdien velges fra kodeliste.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="annet">
        <annotation>
          <documentation>Eventuelle andre elementer, oppgis i merknadsfeltet</documentation>
        </annotation>
      </enumeration>
      <enumeration value="billettautomat" />
      <enumeration value="bysykkelstativer" />
      <enumeration value="leskur">
        <annotation>
          <documentation>Leskur for f.eks bussholdeplasser og trikkeholdeplasser</documentation>
        </annotation>
      </enumeration>
      <enumeration value="minuskasse">
        <annotation>
          <documentation>Rør som terminerer i minuskasse montert i trikkespor</documentation>
        </annotation>
      </enumeration>
      <enumeration value="roeravslunting">
        <annotation>
          <documentation>Angir hvor rør avsluttes i bakken, der røret ikke termineres i kum, fundament el..</documentation>
        </annotation>
      </enumeration>
      <enumeration value="roerforlengelse">
        <annotation>
          <documentation>Angir punktet der nytt og eksisterende rør(ikke som en del av dette prosjektet) kobles sammen.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="roerovergang">
        <annotation>
          <documentation>angir punktet der et rør går over fra en dimensjon til en annen. feks. 75/110mm muffe</documentation>
        </annotation>
      </enumeration>
      <enumeration value="infoskjerm">
        <annotation>
          <documentation>egen informasjon stolpe plassert på holdeplass</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="AndreTermineringspunktkategoriOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}" />
    </restriction>
  </simpleType>
  <element name="Bom" substitutionGroup="bymlk:Fundament" type="bymlk:BomType" />
  <complexType name="BomType">
    <complexContent>
      <extension base="bymlk:FundamentType">
        <sequence>
          <element name="fundamenttype" type="bymlk:BomFundamentTypeType">
            <annotation>
              <appinfo>
                <defaultCodeSpace xmlns="http://www.opengis.net/gml/3.2">https://bym.oslo.no/codelists/ledningskartet/1.0/bymlk_BomFundamentType.gml</defaultCodeSpace>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="BomPropertyType">
    <sequence minOccurs="0">
      <element ref="bymlk:Bom" />
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup" />
    <attributeGroup ref="gml:OwnershipAttributeGroup" />
  </complexType>
  <simpleType name="BomFundamentTypeType">
    <annotation>
      <documentation>Fundament til Bom iht. kodelisten</documentation>
    </annotation>
    <union memberTypes="bymlk:BomFundamentTypeEnumerationType bymlk:BomFundamentTypeOtherType" />
  </simpleType>
  <simpleType name="BomFundamentTypeEnumerationType">
    <annotation>
      <documentation>Fundament til Bom iht. kodelisten</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="annet">
        <annotation>
          <documentation>brukes dersom annet fundament er brukt.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="betongBl4xBuss">
        <annotation>
          <documentation>betongfundament for bussbom</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="BomFundamentTypeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}" />
    </restriction>
  </simpleType>
  <simpleType name="DetektorSløyfeType">
    <annotation>
      <documentation>Angir type detektorsløyfe. Verdien velges fra kodeliste.</documentation>
    </annotation>
    <union memberTypes="bymlk:DetektorSløyfeEnumerationType bymlk:DetektorSløyfeOtherType" />
  </simpleType>
  <simpleType name="DetektorSløyfeEnumerationType">
    <annotation>
      <documentation>Angir type detektorsløyfe. Verdien velges fra kodeliste.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="annet">
        <annotation>
          <documentation>beskriv i infor feltet</documentation>
        </annotation>
      </enumeration>
      <enumeration value="sloeyfedetektor">
        <annotation>
          <documentation>sløyfedetektor som er skjært i asfalt (feks. 1,85m x 1,85m)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="sykkeltelledetektor">
        <annotation>
          <documentation>sløyfedetektor for telling av sykler som er skjært som ete parallellogram</documentation>
        </annotation>
      </enumeration>
      <enumeration value="telledetektor">
        <annotation>
          <documentation>telledetektor som er skjært som "to motstående trekanter/diamant"</documentation>
        </annotation>
      </enumeration>
      <enumeration value="trikkedetektor">
        <annotation>
          <documentation>detektor i trikketraseen lagt som et åttetall ( feks. 1,0m x2,0m)</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="DetektorSløyfeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}" />
    </restriction>
  </simpleType>
  <element name="Detektorsløyfe" substitutionGroup="bymlk:Fundament" type="bymlk:DetektorsløyfeType">
    <annotation>
      <documentation>Detektorsløyfe representerer sløyfer som er skjært ned i asfalt eller dekke for registrering av kjøretøy, signalanlegg eller annen trafikkteknisk funksjonalitet.</documentation>
    </annotation>
  </element>
  <complexType name="DetektorsløyfeType">
    <complexContent>
      <extension base="bymlk:FundamentType">
        <sequence>
          <element name="kategori" type="bymlk:DetektorSløyfeType">
            <annotation>
              <appinfo>
                <defaultCodeSpace xmlns="http://www.opengis.net/gml/3.2">https://bym.oslo.no/codelists/ledningskartet/1.0/bymlk_DetektorSløyfe.gml</defaultCodeSpace>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="DetektorsløyfePropertyType">
    <sequence minOccurs="0">
      <element ref="bymlk:Detektorsløyfe" />
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup" />
    <attributeGroup ref="gml:OwnershipAttributeGroup" />
  </complexType>
  <element abstract="true" name="FeatureCollection" substitutionGroup="wfs:FeatureCollection" type="bymlk:FeatureCollectionType">
    <annotation>
      <documentation>FeatureCollection er et objekt i ledningsinfrastrukturen som representerer en fysisk eller logisk komponent. klasse som benyttes for å støtte XSD-generering og sikre at datasettet følger GML-standard for eksport. FeatureCollection fungerer som et samlingsobjekt for alle forekomster av FeatureType-klasser i modellen og er nødvendig for å generere gyldig GML-schema (XSD) ved eksport.</documentation>
    </annotation>
  </element>
  <complexType abstract="true" name="FeatureCollectionType">
    <complexContent>
      <extension base="wfs:FeatureCollectionType">
        <sequence />
      </extension>
    </complexContent>
  </complexType>
  <complexType name="FeatureCollectionPropertyType">
    <sequence minOccurs="0">
      <element ref="bymlk:FeatureCollection" />
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup" />
    <attributeGroup ref="gml:OwnershipAttributeGroup" />
  </complexType>
  <element abstract="true" name="Framføringsvei" substitutionGroup="bymlk:Føringsvei" type="bymlk:FramføringsveiType">
    <annotation>
      <documentation>Abstrakt klasse som inneholder felles egenskaper for fysiske føringsveier som kulverter, kanaler og grøfter. Representerer objekter med fysisk rom for kabler og rør, og definerer felles attributter for dimensjon, eierskap og utstrekning. Klassen skal ikke instansieres direkte, men arves av konkrete føringsveielementer.</documentation>
    </annotation>
  </element>
  <complexType abstract="true" name="FramføringsveiType">
    <complexContent>
      <extension base="bymlk:FøringsveiType">
        <sequence>
          <element name="omriss" type="bymlk:PolygongeometriPropertyType">
            <annotation>
              <documentation>Flategeometri som viser fysisk utstrekning av føringsveien. Brukes til kartvisning og analyser. Inkluderer posisjonskvalitet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="ytreBredde" type="double">
            <annotation>
              <documentation>Total utvendig bredde på føringsveien, målt i meter. Inkluderer vegger eller ytre konstruksjoner.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="ytreHøyde" type="double">
            <annotation>
              <documentation>Total høyde fra bunn til topp av konstruksjonen, oppgitt i meter.</documentation>
            </annotation>
          </element>
          <element name="antallRørEiesAvBYM" type="integer">
            <annotation>
              <documentation>Antall rør i føringsveien som eies av Bymiljøetaten. Oppgis som heltall.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="traseBane" type="bymlk:TrasePropertyType" />
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="FramføringsveiPropertyType">
    <sequence minOccurs="0">
      <element ref="bymlk:Framføringsvei" />
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup" />
    <attributeGroup ref="gml:OwnershipAttributeGroup" />
  </complexType>
  <element abstract="true" name="Fremfoeringslinje" substitutionGroup="bymlk:Føringsvei" type="bymlk:FremfoeringslinjeType">
    <annotation>
      <documentation>Abstrakt klasse som inneholder felles egenskaper og relasjoner for linjeformede elementer i ledningsinfrastrukturen, som rør og trekkerør. Klassen legger til rette for felles struktur og modellering, og kan utvides med flere elementtyper som for eksempel kabler. Geometrien representerer senterlinjen til objektet i terrenget. Klassen skal ikke instansieres direkte, men arves av spesialiserte komponentklasser.</documentation>
    </annotation>
  </element>
  <complexType abstract="true" name="FremfoeringslinjeType">
    <complexContent>
      <extension base="bymlk:FøringsveiType">
        <sequence>
          <element name="linje" type="bymlk:LinjegeometriPropertyType">
            <annotation>
              <documentation>Geometrisk representasjon av fremføringslinjens senterlinje i terrenget. Brukes til kartvisning og nettverksanalyse, og inkluderer posisjonskvalitet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="iframfoeringsvei" type="bymlk:FramføringsveiPropertyType" />
          <element minOccurs="0" name="itrase" type="bymlk:TrasePropertyType" />
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="FremfoeringslinjePropertyType">
    <sequence minOccurs="0">
      <element ref="bymlk:Fremfoeringslinje" />
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup" />
    <attributeGroup ref="gml:OwnershipAttributeGroup" />
  </complexType>
  <element abstract="true" name="Fundament" substitutionGroup="bymlk:Kopling" type="bymlk:FundamentType">
    <annotation>
      <documentation>Fysisk konstruksjon som utgjør et terminering- eller monteringspunkt for ulike komponenter i infrastrukturen, som skap, lysmaster, p-automater og bommer. 

	Fundamentelementer er ofte prefabrikkerte og benyttes der det kreves varig og stabil forankring. Fundamenter kan være sluttpunkt for traseer, rør eller kabler.

	Type fundament spesifiseres med kodelisten `FundamentType`.

Geometrisk punkt som representerer topp senterpunkt av fundamentet i horisontalplanet. Punktet brukes som posisjon i kart og inkluderer posisjonskvalitet.</documentation>
    </annotation>
  </element>
  <complexType abstract="true" name="FundamentType">
    <complexContent>
      <extension base="bymlk:KoplingType">
        <sequence>
          <element name="omriss" type="bymlk:PolygongeometriPropertyType">
            <annotation>
              <documentation>Polygon som representerer fundament omriss og flateutbredelse i terrenget. Geometrien benyttes for korrekt visning, rotasjon og posisjonering, og inkluderer posisjonskvalitet.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="FundamentPropertyType">
    <sequence minOccurs="0">
      <element ref="bymlk:Fundament" />
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup" />
    <attributeGroup ref="gml:OwnershipAttributeGroup" />
  </complexType>
  <simpleType name="FysiskPlasseringType">
    <annotation>
      <documentation>Angir hvor objektet er fysisk plassert i terrenget eller infrastrukturen (f.eks. vegbane, fortau eller grøntområde). Verdien velges fra kodeliste.</documentation>
    </annotation>
    <union memberTypes="bymlk:FysiskPlasseringEnumerationType bymlk:FysiskPlasseringOtherType" />
  </simpleType>
  <simpleType name="FysiskPlasseringEnumerationType">
    <annotation>
      <documentation>Angir hvor objektet er fysisk plassert i terrenget eller infrastrukturen (f.eks. vegbane, fortau eller grøntområde). Verdien velges fra kodeliste.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="annet" />
      <enumeration value="iFortau" />
      <enumeration value="iGangSykkelveg" />
      <enumeration value="ipark" />
      <enumeration value="iSkogUtmark" />
      <enumeration value="iTerreng" />
      <enumeration value="iTorgPlass" />
      <enumeration value="iTrafikkdeler" />
      <enumeration value="iVegbane" />
      <enumeration value="iVegskulder" />
      <enumeration value="paaBrua" />
    </restriction>
  </simpleType>
  <simpleType name="FysiskPlasseringOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}" />
    </restriction>
  </simpleType>
  <element abstract="true" name="Føringsvei" substitutionGroup="bymlk:Nettverkskomponent" type="bymlk:FøringsveiType">
    <annotation>
      <documentation>Abstrakt klasse som fungerer som felles modellmessig overbygning for alle elementer som inngår i føringsveinettet, som traseer, trekkerør, kulverter og kanaler. Brukes til å standardisere håndtering og relasjoner mellom linje- og flateobjekter i ledningsinfrastrukturen. Klassen kobles til noder via Kopling og skal ikke instansieres direkte.</documentation>
    </annotation>
  </element>
  <complexType abstract="true" name="FøringsveiType">
    <complexContent>
      <extension base="bymlk:NettverkskomponentType">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="tilNode" type="bymlk:KoplingPropertyType" />
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="FøringsveiPropertyType">
    <sequence minOccurs="0">
      <element ref="bymlk:Føringsvei" />
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup" />
    <attributeGroup ref="gml:OwnershipAttributeGroup" />
  </complexType>
  <element name="Grøft" substitutionGroup="bymlk:Framføringsvei" type="bymlk:GrøftType">
    <annotation>
      <documentation>Åpen eller lukket grøft som fungerer som føringsvei for rør, trekkerør eller kabler i bakken. Grøften er en fysisk konstruksjon i terreng eller vei og kan etableres midlertidig eller permanent. Representerer et avgrenset område for fremføring og beskyttelse av infrastruktur.</documentation>
    </annotation>
  </element>
  <complexType name="GrøftType">
    <complexContent>
      <extension base="bymlk:FramføringsveiType">
        <sequence>
          <element minOccurs="0" name="antallRørEiesAvAndre" type="integer">
            <annotation>
              <documentation>Antall rør i føringsveien som eies av andre aktører enn BYM. Oppgis som heltall.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="GrøftPropertyType">
    <sequence minOccurs="0">
      <element ref="bymlk:Grøft" />
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup" />
    <attributeGroup ref="gml:OwnershipAttributeGroup" />
  </complexType>
  <simpleType name="HøydereferanseType">
    <annotation>
      <documentation>Angir hvilken del av objektet høydeverdien refererer til (f.eks. topp, bunn eller senter). Velges fra kodeliste.</documentation>
    </annotation>
    <union memberTypes="bymlk:HøydereferanseEnumerationType bymlk:HøydereferanseOtherType" />
  </simpleType>
  <simpleType name="HøydereferanseEnumerationType">
    <annotation>
      <documentation>Angir hvilken del av objektet høydeverdien refererer til (f.eks. topp, bunn eller senter). Velges fra kodeliste.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="toppUtvendig">
        <annotation>
          <documentation>høydereferansen er til toppen av komponenten</documentation>
        </annotation>
      </enumeration>
      <enumeration value="toppInnvendig">
        <annotation>
          <documentation>høydereferansen er topp innvendig komponent</documentation>
        </annotation>
      </enumeration>
      <enumeration value="senter">
        <annotation>
          <documentation>høydereferansen er senter innvendig_x000D_
_x000D_
Eksempel: Dersom en ønsker å representere volumet på rør, kan dette gjøres med å angi LedningHøydereferanse = senter og supplere dette med passende radius.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="bunnInnvendig">
        <annotation>
          <documentation>høydereferansen er bunn innvendig_x000D_
_x000D_
Eksempel: Dette er nyttig når en skal modellere fall på avløpsrør</documentation>
        </annotation>
      </enumeration>
      <enumeration value="underkantUtvendig">
        <annotation>
          <documentation>høydereferansen er bunn utvendig</documentation>
        </annotation>
      </enumeration>
      <enumeration value="paaBakken">
        <annotation>
          <documentation>høydereferanse er på bakken_x000D_
_x000D_
Merknad: Mange ledninger er målt på lukket grøft</documentation>
        </annotation>
      </enumeration>
      <enumeration value="fot">
        <annotation>
          <documentation>naturlig å bruke for eksempel på master/mastefundamenter</documentation>
        </annotation>
      </enumeration>
      <enumeration value="ukjent">
        <annotation>
          <documentation>brukes der det ikke er kjent hva som er benyttet som høydereferanse</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="HøydereferanseOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}" />
    </restriction>
  </simpleType>
  <simpleType name="InnmålingsStatusType">
    <annotation>
      <documentation>Angir hvordan geometrien er etablert (innmålt, ikke innmålt eller importert) og gir informasjon om datakvalitet og opprinnelse. Velges fra kodeliste.</documentation>
    </annotation>
    <union memberTypes="bymlk:InnmålingsStatusEnumerationType bymlk:InnmålingsStatusOtherType" />
  </simpleType>
  <simpleType name="InnmålingsStatusEnumerationType">
    <annotation>
      <documentation>Angir hvordan geometrien er etablert (innmålt, ikke innmålt eller importert) og gir informasjon om datakvalitet og opprinnelse. Velges fra kodeliste.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="ikkeInmaalt">
        <annotation>
          <documentation>Angir at objektet ikke er innmålt i felt eller basert på kjent posisjonsgrunnlag.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="inmaalt">
        <annotation>
          <documentation>Angir at objektets geometri er resultat av en spesifikk innmåling i felt eller annen kjent metode.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="importUkjent">
        <annotation>
          <documentation>Angir at objektet er importert fra ekstern kilde uten dokumentert posisjonsnøyaktighet eller innmålingsmetode.</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="InnmålingsStatusOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}" />
    </restriction>
  </simpleType>
  <simpleType name="JaNeiType">
    <annotation>
      <documentation>Kodeliste som uttrykker binære tilstander (ja/nei), med støtte for ukjent informasjon og irrelevante tilfeller. Brukes i situasjoner der boolsk verdi ikke er tilstrekkelig, og det er behov for å skille mellom “nei”, “vet ikke” og “ikke aktuelt”.</documentation>
    </annotation>
    <union memberTypes="bymlk:JaNeiEnumerationType bymlk:JaNeiOtherType" />
  </simpleType>
  <simpleType name="JaNeiEnumerationType">
    <annotation>
      <documentation>Kodeliste som uttrykker binære tilstander (ja/nei), med støtte for ukjent informasjon og irrelevante tilfeller. Brukes i situasjoner der boolsk verdi ikke er tilstrekkelig, og det er behov for å skille mellom “nei”, “vet ikke” og “ikke aktuelt”.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="ja">
        <annotation>
          <documentation>Tilstanden gjelder / er aktiv / valgt / oppfylt</documentation>
        </annotation>
      </enumeration>
      <enumeration value="nei">
        <annotation>
          <documentation>ilstanden gjelder ikke / er inaktiv / ikke valgt</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="JaNeiOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}" />
    </restriction>
  </simpleType>
  <element name="Jordelektrode" substitutionGroup="bymlk:Kopling" type="bymlk:JordelektrodeType" />
  <complexType name="JordelektrodeType">
    <complexContent>
      <extension base="bymlk:KoplingType">
        <sequence>
          <element name="kategori" type="bymlk:JordelektrodeKategoriType">
            <annotation>
              <appinfo>
                <defaultCodeSpace xmlns="http://www.opengis.net/gml/3.2">https://bym.oslo.no/codelists/ledningskartet/1.0/bymlk_JordelektrodeKategori.gml</defaultCodeSpace>
              </appinfo>
            </annotation>
          </element>
          <element name="senterpunkt" type="bymlk:PunktgeometriPropertyType" />
          <element name="jordingsmåling" type="bymlk:JordingsmålingPropertyType" />
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="JordelektrodePropertyType">
    <sequence minOccurs="0">
      <element ref="bymlk:Jordelektrode" />
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup" />
    <attributeGroup ref="gml:OwnershipAttributeGroup" />
  </complexType>
  <simpleType name="JordelektrodeKategoriType">
    <union memberTypes="bymlk:JordelektrodeKategoriEnumerationType bymlk:JordelektrodeKategoriOtherType" />
  </simpleType>
  <simpleType name="JordelektrodeKategoriEnumerationType">
    <restriction base="string">
      <enumeration value="annet">
        <annotation>
          <documentation>dersom noe annet er lagt, skrives det i merknadsfeltet hva som er lagt</documentation>
        </annotation>
      </enumeration>
      <enumeration value="jordplate">
        <annotation>
          <documentation>jordelektrode i form av kobberplate</documentation>
        </annotation>
      </enumeration>
      <enumeration value="jordspyd">
        <annotation>
          <documentation>jordelektrode i form av spyd</documentation>
        </annotation>
      </enumeration>
      <enumeration value="ringjord">
        <annotation>
          <documentation>uisolert jordledning lagt rundt et objekt</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="JordelektrodeKategoriOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}" />
    </restriction>
  </simpleType>
  <element name="Jordingsmåling" substitutionGroup="gml:AbstractObject" type="bymlk:JordingsmålingType" />
  <complexType name="JordingsmålingType">
    <sequence>
      <element name="kontrollDato" type="dateTime" />
      <element name="kontrollertAv" type="string" />
      <element name="overgangsmotstand" type="double" />
    </sequence>
  </complexType>
  <complexType name="JordingsmålingPropertyType">
    <sequence>
      <element ref="bymlk:Jordingsmåling" />
    </sequence>
  </complexType>
  <element name="Jordleder" substitutionGroup="bymlk:Føringsvei" type="bymlk:JordlederType" />
  <complexType name="JordlederType">
    <complexContent>
      <extension base="bymlk:FøringsveiType">
        <sequence>
          <element name="linje" type="bymlk:LinjegeometriPropertyType" />
          <element name="jordlederType" type="bymlk:JordlederTypeType">
            <annotation>
              <appinfo>
                <defaultCodeSpace xmlns="http://www.opengis.net/gml/3.2">https://bym.oslo.no/codelists/ledningskartet/1.0/bymlk_JordlederType.gml</defaultCodeSpace>
              </appinfo>
            </annotation>
          </element>
          <element name="jordingsmåling" type="bymlk:JordingsmålingPropertyType" />
          <element name="jordlederTverrsnitt" type="bymlk:JordlederTverrsnittType">
            <annotation>
              <appinfo>
                <defaultCodeSpace xmlns="http://www.opengis.net/gml/3.2">https://bym.oslo.no/codelists/ledningskartet/1.0/bymlk_JordlederTverrsnitt.gml</defaultCodeSpace>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="JordlederPropertyType">
    <sequence minOccurs="0">
      <element ref="bymlk:Jordleder" />
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup" />
    <attributeGroup ref="gml:OwnershipAttributeGroup" />
  </complexType>
  <simpleType name="JordlederTverrsnittType">
    <union memberTypes="bymlk:JordlederTverrsnittEnumerationType bymlk:JordlederTverrsnittOtherType" />
  </simpleType>
  <simpleType name="JordlederTverrsnittEnumerationType">
    <restriction base="string">
      <enumeration value="25mm2" />
      <enumeration value="50mm2" />
      <enumeration value="95mm2" />
    </restriction>
  </simpleType>
  <simpleType name="JordlederTverrsnittOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}" />
    </restriction>
  </simpleType>
  <simpleType name="JordlederTypeType">
    <union memberTypes="bymlk:JordlederTypeEnumerationType bymlk:JordlederTypeOtherType" />
  </simpleType>
  <simpleType name="JordlederTypeEnumerationType">
    <restriction base="string">
      <enumeration value="khf" />
      <enumeration value="pn" />
    </restriction>
  </simpleType>
  <simpleType name="JordlederTypeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}" />
    </restriction>
  </simpleType>
  <element name="Kanal" substitutionGroup="bymlk:Framføringsvei" type="bymlk:KanalType">
    <annotation>
      <documentation>Konstruksjon som fungerer som felles føringsvei for kabler og rør, ofte i form av prefabrikkerte eller støpte elementer. Kanaler benyttes typisk for å samle flere føringer i én fysisk struktur, og etableres ofte der rør eller kabler krysser vei eller andre utsatte områder. I slike tilfeller omsluttes føringene gjerne av en betongkonstruksjon for ekstra beskyttelse og holdbarhet._x000D_
_x000D_
Geometrien for kanal angis som en polygon som viser omrisset av den fysiske strukturen i horisontalplanet. Representerer kanalens flateutbredelse i terrenget og benyttes i visning, modellering og analyser. Inkluderer posisjonskvalitet.</documentation>
    </annotation>
  </element>
  <complexType name="KanalType">
    <complexContent>
      <extension base="bymlk:FramføringsveiType">
        <sequence>
          <element name="antallRørEiesAvAndre" type="integer">
            <annotation>
              <documentation>Antall rør i føringsveien som eies av andre aktører enn BYM. Oppgis som heltall.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="KanalPropertyType">
    <sequence minOccurs="0">
      <element ref="bymlk:Kanal" />
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup" />
    <attributeGroup ref="gml:OwnershipAttributeGroup" />
  </complexType>
  <element abstract="true" name="Kopling" substitutionGroup="bymlk:Nettverkskomponent" type="bymlk:KoplingType">
    <annotation>
      <documentation>Abstrakt klasse som representerer et konseptuelt koblingspunkt mellom noder og føringsveier i et ledningsnettverk. Brukes som en felles modellmessig struktur for å knytte sammen objekter som kummer, fundamenter og termineringspunkt med traseer, rør og trekkerør.</documentation>
    </annotation>
  </element>
  <complexType abstract="true" name="KoplingType">
    <complexContent>
      <extension base="bymlk:NettverkskomponentType">
        <sequence>
          <element name="bredde" type="double">
            <annotation>
              <documentation>Angir objektets bredde i kart, oppgitt i millimeter (mm).
Hvis diameter fylles ut så må bredde være 0.  
Brukes til symbolisering.</documentation>
            </annotation>
          </element>
          <element name="lengde" type="double">
            <annotation>
              <documentation>Angir objektets lengde i kart, oppgitt i millimeter (mm). Hvis diameter fylles ut så må lengde være 0. Brukes til skalering av symbol i lengderetning.</documentation>
            </annotation>
          </element>
          <element name="høyde" type="double">
            <annotation>
              <documentation>Angir objektets høyde eller dybde i kart, oppgitt i millimeter (mm).</documentation>
            </annotation>
          </element>
          <element name="diameter" type="double">
            <annotation>
              <documentation>Angir diameter til sirkel, oppgitt i millimeter (mm).
Hvis bredde og lengde fylles ut, må diameter være 0.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="rotasjon" type="double">
            <annotation>
              <documentation>Rotasjonsvinkel i kartvisning, angitt som matematisk vinkel i grader (mot klokken fra x-aksen). Brukes til å vri symbolet i kartet.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="KoplingPropertyType">
    <sequence minOccurs="0">
      <element ref="bymlk:Kopling" />
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup" />
    <attributeGroup ref="gml:OwnershipAttributeGroup" />
  </complexType>
  <element name="Kulvert" substitutionGroup="bymlk:Framføringsvei" type="bymlk:KulvertType">
    <annotation>
      <documentation>Kulvert er en lukket konstruksjon som fungerer som fysisk føringsvei for rør og kabler, vanligvis etablert under vei eller terreng. Den kan beskrives som en type tunnel eller liten bru som muliggjør gjennomføring av infrastruktur under hindringer. Kulverter gir beskyttelse og tilgang for drift og vedlikehold, og kan være støpt, prefabrikkert eller modulbasert. Inngår som en del av føringsveinettet i ledningsinfrastrukturen._x000D_
_x000D_
Geometrien for kulvert representeres som en polygon som viser det fysiske omrisset (flateutstrekningen) av konstruksjonen i horisontalplanet. Brukes til kartvisning og analyser av plassering og utstrekning. Inkluderer posisjonskvalitet.</documentation>
    </annotation>
  </element>
  <complexType name="KulvertType">
    <complexContent>
      <extension base="bymlk:FramføringsveiType">
        <sequence>
          <element minOccurs="0" name="antallRørEiesAvAndre" type="integer">
            <annotation>
              <documentation>Antall rør i føringsveien som eies av andre aktører enn BYM. Oppgis som heltall.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="KulvertPropertyType">
    <sequence minOccurs="0">
      <element ref="bymlk:Kulvert" />
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup" />
    <attributeGroup ref="gml:OwnershipAttributeGroup" />
  </complexType>
  <element name="Kurvgeometri" substitutionGroup="gml:AbstractObject" type="bymlk:KurvgeometriType">
    <annotation>
      <documentation>Datatypen brukes til å etablere en felles struktur for geometri som representeres som kurve (linje), og standardiserer krav til hvordan slike elementer skal spesifiseres i modellen.</documentation>
    </annotation>
  </element>
  <complexType name="KurvgeometriType">
    <sequence>
      <element name="geometri" type="gml:CurvePropertyType">
        <annotation>
          <documentation>Geometrisk representasjon som kurve (GM_Curve). Brukes for å modellere forløp som ikke er rette linjer, men buede eller sammensatte kurver.</documentation>
        </annotation>
      </element>
      <element name="posisjonskvalitet" type="bymlk:PosisjonsKvalitetPropertyType">
        <annotation>
          <documentation>Beskriver hvordan kurvens posisjon er fastsatt, inkludert nøyaktighet, målemetode og synbarhet. Brukes for å dokumentere kvaliteten på geometrien.</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="KurvgeometriPropertyType">
    <sequence>
      <element ref="bymlk:Kurvgeometri" />
    </sequence>
  </complexType>
  <simpleType name="LadestolpeFundamentTypeType">
    <annotation>
      <documentation>Fundament til ladestolper iht. kodelisten</documentation>
    </annotation>
    <union memberTypes="bymlk:LadestolpeFundamentTypeEnumerationType bymlk:LadestolpeFundamentTypeOtherType" />
  </simpleType>
  <simpleType name="LadestolpeFundamentTypeEnumerationType">
    <annotation>
      <documentation>Fundament til ladestolper iht. kodelisten</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="annet">
        <annotation>
          <documentation>brukes dersom annet fundament er brukt. Beskriv i infofeltet hvilket fundament som er satt ned.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="eFundamentModula">
        <annotation>
          <documentation>opppgi dimensjon i egne felt</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="LadestolpeFundamentTypeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}" />
    </restriction>
  </simpleType>
  <element name="Ladestolper" substitutionGroup="bymlk:Fundament" type="bymlk:LadestolperType" />
  <complexType name="LadestolperType">
    <complexContent>
      <extension base="bymlk:FundamentType">
        <sequence>
          <element name="fundamenttype" type="bymlk:LadestolpeFundamentTypeType">
            <annotation>
              <appinfo>
                <defaultCodeSpace xmlns="http://www.opengis.net/gml/3.2">https://bym.oslo.no/codelists/ledningskartet/1.0/bymlk_LadestolpeFundamentType.gml</defaultCodeSpace>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="LadestolperPropertyType">
    <sequence minOccurs="0">
      <element ref="bymlk:Ladestolper" />
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup" />
    <attributeGroup ref="gml:OwnershipAttributeGroup" />
  </complexType>
  <element name="Linjegeometri" substitutionGroup="gml:AbstractObject" type="bymlk:LinjegeometriType">
    <annotation>
      <documentation>Datatypen brukes for å standardisere struktur og kvalitetsbeskrivelse av lineære geometriobjekter. Representerer en kurve i terrenget, som f.eks. traseer, rør eller føringslinjer.</documentation>
    </annotation>
  </element>
  <complexType name="LinjegeometriType">
    <sequence>
      <element name="geometri" type="gml:CurvePropertyType">
        <annotation>
          <documentation>Geometrisk representasjon av linjeobjektet (GM_Curve). Brukes for å angi senterlinjen for objekter som strekker seg mellom to eller flere punkter i terrenget.</documentation>
        </annotation>
      </element>
      <element name="posisjonskvalitet" type="bymlk:PosisjonsKvalitetPropertyType">
        <annotation>
          <documentation>Gir detaljer om stedfestingskvalitet for linjegeometrien, inkludert målemetode, nøyaktighet og synbarhet. Beskriver hvor nøyaktig geometrien er målt eller estimert.</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="LinjegeometriPropertyType">
    <sequence>
      <element ref="bymlk:Linjegeometri" />
    </sequence>
  </complexType>
  <simpleType name="MastStolpeFundamenttypeType">
    <annotation>
      <documentation>Fundament til MastStolpe iht. kodelisten</documentation>
    </annotation>
    <union memberTypes="bymlk:MastStolpeFundamenttypeEnumerationType bymlk:MastStolpeFundamenttypeOtherType" />
  </simpleType>
  <simpleType name="MastStolpeFundamenttypeEnumerationType">
    <annotation>
      <documentation>Fundament til MastStolpe iht. kodelisten</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="annet">
        <annotation>
          <documentation>beskrives i merknadsfeltet</documentation>
        </annotation>
      </enumeration>
      <enumeration value="belysningspullert">
        <annotation>
          <documentation>Fundament til små belysnings master. (pullert)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="betongFotplateCC160" />
      <enumeration value="betongFotplateCC200" />
      <enumeration value="betongFotplateCC240" />
      <enumeration value="betongNedstikk1300">
        <annotation>
          <documentation>brukes ikke mer, kun for historisk</documentation>
        </annotation>
      </enumeration>
      <enumeration value="betongNedstikk1500">
        <annotation>
          <documentation>brukes ikke mer, kun for historisk</documentation>
        </annotation>
      </enumeration>
      <enumeration value="betongNedstikk700">
        <annotation>
          <documentation>brukes ikke mer, kun for historisk</documentation>
        </annotation>
      </enumeration>
      <enumeration value="betongNedstikk900">
        <annotation>
          <documentation>brukes ikke mer, kun for historisk</documentation>
        </annotation>
      </enumeration>
      <enumeration value="betongPlasstøpt">
        <annotation>
          <documentation>fundament bygd på stedet med diverse mål</documentation>
        </annotation>
      </enumeration>
      <enumeration value="betongprefabrikert" />
      <enumeration value="forankringsrammeCC160" />
      <enumeration value="forankringsrammeCC200" />
      <enumeration value="gittermast">
        <annotation>
          <documentation>gittermast og/eller portal</documentation>
        </annotation>
      </enumeration>
      <enumeration value="NALFundament">
        <annotation>
          <documentation>Spesialfundament for signalstolpe som støpes fast</documentation>
        </annotation>
      </enumeration>
      <enumeration value="staalfundamentCC160_1000" />
      <enumeration value="staalplateCC160_750">
        <annotation>
          <documentation>brukes ikke mer, kun for historisk</documentation>
        </annotation>
      </enumeration>
      <enumeration value="staalfundamentCC200_1250" />
      <enumeration value="staalfundamentCC240_1500" />
      <enumeration value="staalfundamentRsCC240_1600" />
      <enumeration value="trestolper_med_stag">
        <annotation>
          <documentation>trestolpe forankret kun med stag/bardun, (ikke fundament)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="trestolper_skoring">
        <annotation>
          <documentation>trestolpe uten annen forankring (stag/bardun)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="veggbrakettCC160">
        <annotation>
          <documentation>skal disse være i denne databasen</documentation>
        </annotation>
      </enumeration>
      <enumeration value="veggbrakettCC200">
        <annotation>
          <documentation>skal disse være i denne databasen</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="MastStolpeFundamenttypeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}" />
    </restriction>
  </simpleType>
  <element name="MastStople" substitutionGroup="bymlk:Fundament" type="bymlk:MastStopleType" />
  <complexType name="MastStopleType">
    <complexContent>
      <extension base="bymlk:FundamentType">
        <sequence>
          <element name="fundamenttype" type="bymlk:MastStolpeFundamenttypeType">
            <annotation>
              <appinfo>
                <defaultCodeSpace xmlns="http://www.opengis.net/gml/3.2">https://bym.oslo.no/codelists/ledningskartet/1.0/bymlk_MastStolpeFundamenttype.gml</defaultCodeSpace>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="MastStoplePropertyType">
    <sequence minOccurs="0">
      <element ref="bymlk:MastStople" />
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup" />
    <attributeGroup ref="gml:OwnershipAttributeGroup" />
  </complexType>
  <simpleType name="MerketypeType">
    <annotation>
      <documentation>Angir hvordan kummen er fysisk merket innvendig. Verdien «Ingen» betyr at objektet ikke er merket. Øvrige verdier beskriver type merking, for eksempel merkeplate eller maling/spraymerking. Verdien velges fra kodeliste.</documentation>
    </annotation>
    <union memberTypes="bymlk:MerketypeEnumerationType bymlk:MerketypeOtherType" />
  </simpleType>
  <simpleType name="MerketypeEnumerationType">
    <annotation>
      <documentation>Angir hvordan kummen er fysisk merket innvendig. Verdien «Ingen» betyr at objektet ikke er merket. Øvrige verdier beskriver type merking, for eksempel merkeplate eller maling/spraymerking. Verdien velges fra kodeliste.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="annet">
        <annotation>
          <documentation>Brukes når objektet er merket på annen måte – spesifiseres i infofeltet.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="gravering">
        <annotation>
          <documentation>Innrisset eller gravert merke i kum  eller for rør  fra fabrikk</documentation>
        </annotation>
      </enumeration>
      <enumeration value="ingen">
        <annotation>
          <documentation>Objektet er ikke fysisk merket.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="merkeplate">
        <annotation>
          <documentation>Metall- eller plastplate festet på eller ved objektet. Merkeplaten skal merkes iht. ledningseiers krav.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="spraymaling">
        <annotation>
          <documentation>Objeket/Element er merket med spraymaling</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="MerketypeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}" />
    </restriction>
  </simpleType>
  <simpleType name="MålemetodeType">
    <annotation>
      <documentation>Metode eller instrument brukt for innmåling av horisontal posisjon (X/Y). Velges fra standardisert kodeliste.</documentation>
    </annotation>
    <union memberTypes="bymlk:MålemetodeEnumerationType bymlk:MålemetodeOtherType" />
  </simpleType>
  <simpleType name="MålemetodeEnumerationType">
    <annotation>
      <documentation>Metode eller instrument brukt for innmåling av horisontal posisjon (X/Y). Velges fra standardisert kodeliste.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="digitalisertPaaSkjermFraAndreDigitaleRasterdata">
        <annotation>
          <documentation>posisjon digitalisert på skjerm fra andre kilder enn ortofoto eller satellittbilder</documentation>
        </annotation>
      </enumeration>
      <enumeration value="digitalisertPaaSkjermFraOrtofoto">
        <annotation>
          <documentation>posisjon overført fra ortofoto ved hjelp av manuell registrering på skjerm</documentation>
        </annotation>
      </enumeration>
      <enumeration value="digitalisertPaaSkjermFraSkannetKart">
        <annotation>
          <documentation>posisjon overført fra kart ved hjelp av manuell registrering på skjerm, medium skannet kart (raster), samkopi</documentation>
        </annotation>
      </enumeration>
      <enumeration value="frihaandstegningPaaSkjerm">
        <annotation>
          <documentation>posisjon  digitalisert ut fra frihåndstegning (direkte på skjerm), frihåndstegning er basert på svært grovt grunnlag eller ikke noe grunnlag</documentation>
        </annotation>
      </enumeration>
      <enumeration value="genererteDataFraAnnenGeometri">
        <annotation>
          <documentation>posisjon generert, sirkelgeometri, korridor eller annen geometri er generert ut fra f.eks et punkt eller en linje (f.eks midtlinje veg)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="genererteDataSentralpunkt">
        <annotation>
          <documentation>posisjon generert, sentralpunkt</documentation>
        </annotation>
      </enumeration>
      <enumeration value="gNSSFasemaalingFloatLoesning">
        <annotation>
          <documentation>posisjon  innmålt med satellittbaserte systemer for navigasjon og posisjonering med global dekning (f.eks GPS, GLONASS, GALILEO). Fasemåling float-løsning</documentation>
        </annotation>
      </enumeration>
      <enumeration value="gNSSFasemaalingRTK">
        <annotation>
          <documentation>posisjon innmålt med satellittbaserte systemer for navigasjon og posisjonering med global dekning (f.eks GPS, GLONASS, GALILEO).: Fasemåling RTK (realtids kinematisk måling)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="gNSSFasemaalingStatiskMaaling">
        <annotation>
          <documentation>posisjon  innmålt med satellittbaserte systemer for navigasjon og posisjonering med global dekning (f.eks GPS, GLONASS, GALILEO): Fasemåling statisk måling.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="gNSSKodemaalingEnkleMaalinger">
        <annotation>
          <documentation>posisjon  innmålt med satellittbaserte systemer for navigasjon og posisjonering med global dekning (f.eks GPS, GLONASS, GALILEO): Kodemåling, enkle målinger.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="gNSSKodemaalingRelativeMaalinger">
        <annotation>
          <documentation>posisjon  innmålt med satellittbaserte systemer for navigasjon og posisjonering med global dekning (f.eks GPS, GLONASS, GALILEO): Kodemåling, relative målinger.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="kombinasjonAvGNSSTreghet">
        <annotation>
          <documentation>posisjon bestemt ved kombinasjon av GPS og Treghet</documentation>
        </annotation>
      </enumeration>
      <enumeration value="tattFraPlan">
        <annotation>
          <documentation>posisjon tatt fra plan eller godkjent tiltak</documentation>
        </annotation>
      </enumeration>
      <enumeration value="terrengmaaltTotalstasjon">
        <annotation>
          <documentation>posisjon målt i terrenget med totalstasjon</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="MålemetodeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}" />
    </restriction>
  </simpleType>
  <simpleType name="MålemetodeHøydeType">
    <annotation>
      <documentation>Metode eller instrument brukt for måling av høyde (Z). Velges fra egen kodeliste.</documentation>
    </annotation>
    <union memberTypes="bymlk:MålemetodeHøydeEnumerationType bymlk:MålemetodeHøydeOtherType" />
  </simpleType>
  <simpleType name="MålemetodeHøydeEnumerationType">
    <annotation>
      <documentation>Metode eller instrument brukt for måling av høyde (Z). Velges fra egen kodeliste.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="beregnet" />
      <enumeration value="flybaarenLaserscanning" />
      <enumeration value="genererteDataFraAnnenGeometri" />
      <enumeration value="genererteDataInterpolasjon" />
      <enumeration value="genererteDataInterpolasjonTerrengmodell" />
      <enumeration value="genererteDataInterpolasjonVektetMiddel" />
      <enumeration value="gNSSFasemaalingRTK" />
      <enumeration value="gNSSFasemaalingStatiskMaaling" />
      <enumeration value="gNSSKodemaalingEnkleMaalinger" />
      <enumeration value="gNSSKodemaalingRelativeMaalinger" />
      <enumeration value="kombinasjonAvGNSSTreghet" />
      <enumeration value="nivellement" />
      <enumeration value="terrengmaaltTotalstasjon" />
    </restriction>
  </simpleType>
  <simpleType name="MålemetodeHøydeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}" />
    </restriction>
  </simpleType>
  <element abstract="true" name="Nettverkskomponent" substitutionGroup="gml:AbstractFeature" type="bymlk:NettverkskomponentType">
    <annotation>
      <documentation>Abstrakt klasse som inneholder felles attributter for alle objekttyper i nettverksdatabasen. Representerer generell informasjon som navn, eierskap, status og identifikatorer som gjelder på tvers av nodetyper og føringsveier. Klassen skal ikke instansieres direkte, men arves av konkrete komponentklasser i modellen.</documentation>
    </annotation>
  </element>
  <complexType abstract="true" name="NettverkskomponentType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element minOccurs="0" name="navn" type="string">
            <annotation>
              <documentation>Angir en formell betegnelse eller identifikator som kan brukes til å navngi objektet i henhold til standarder eller eksterne krav._x000D_
Verdien er valgfri, men skal kun benyttes der det finnes et etablert navn eller nummer fra eksterne kilder (for eksempel prosjektdokumentasjon eller registre)._x000D_
Attributtet er ikke ment for plassering, merknader eller annen beskrivende informasjon.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="merknad" type="string" />
          <element name="fysiskPlassering" type="bymlk:FysiskPlasseringType">
            <annotation>
              <documentation>Angir hvor et objekt (feks. kum, fundament, detektor eller annet termineringspunkt) er fysisk plassert i terrenget eller infrastrukturen.</documentation>
              <appinfo>
                <defaultCodeSpace xmlns="http://www.opengis.net/gml/3.2">https://bym.oslo.no/codelists/ledningskartet/1.0/bymlk_FysiskPlassering.gml</defaultCodeSpace>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="uuid" type="string">
            <annotation>
              <documentation>Universell unik identifikator: Universell unik identifikator (GUID) for objektet. Verdien genereres automatisk og sikrer global entydighet på tvers av systemer og databaser. Brukes til å koble objekter på tvers av datasett og forvaltningssystemer, og endres ikke selv om andre egenskaper ved objektet oppdateres.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="NettverkskomponentPropertyType">
    <sequence minOccurs="0">
      <element ref="bymlk:Nettverkskomponent" />
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup" />
    <attributeGroup ref="gml:OwnershipAttributeGroup" />
  </complexType>
  <element name="PAutomat" substitutionGroup="bymlk:Fundament" type="bymlk:PAutomatType" />
  <complexType name="PAutomatType">
    <complexContent>
      <extension base="bymlk:FundamentType">
        <sequence>
          <element name="fundamenttype" type="bymlk:PAutomatFundamentTypeType">
            <annotation>
              <appinfo>
                <defaultCodeSpace xmlns="http://www.opengis.net/gml/3.2">https://bym.oslo.no/codelists/ledningskartet/1.0/bymlk_PAutomatFundamentType.gml</defaultCodeSpace>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="PAutomatPropertyType">
    <sequence minOccurs="0">
      <element ref="bymlk:PAutomat" />
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup" />
    <attributeGroup ref="gml:OwnershipAttributeGroup" />
  </complexType>
  <simpleType name="PAutomatFundamentTypeType">
    <annotation>
      <documentation>Fundament til P-automat iht. kodelisten</documentation>
    </annotation>
    <union memberTypes="bymlk:PAutomatFundamentTypeEnumerationType bymlk:PAutomatFundamentTypeOtherType" />
  </simpleType>
  <simpleType name="PAutomatFundamentTypeEnumerationType">
    <annotation>
      <documentation>Fundament til P-automat iht. kodelisten</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="annet">
        <annotation>
          <documentation>brukes dersom annet fundament er brukt. Beskriv i infofeltet hvilket fundament som er satt ned.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="PAutomatFundament">
        <annotation>
          <documentation>fundament medfølge p-automat og støpes ned i betong</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="PAutomatFundamentTypeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}" />
    </restriction>
  </simpleType>
  <element name="Polygongeometri" substitutionGroup="gml:AbstractObject" type="bymlk:PolygongeometriType">
    <annotation>
      <documentation>Datatypen brukes for å strukturere og beskrive krav til polygongeometri i modellen. Representerer et lukket areal (GM_Surface), som for eksempel omriss av kummer, fundamenter eller kulverter. Inkluderer beskrivelse av stedfestingskvalitet.</documentation>
    </annotation>
  </element>
  <complexType name="PolygongeometriType">
    <sequence>
      <element name="geometri" type="gml:SurfacePropertyType">
        <annotation>
          <documentation>Geometrisk representasjon av et lukket areal (GM_Surface). Brukes for å vise flatebaserte objekter som omslutter en fysisk struktur.</documentation>
        </annotation>
      </element>
      <element name="posisjonskvalitet" type="bymlk:PosisjonsKvalitetPropertyType">
        <annotation>
          <documentation>Angir stedfestingskvalitet for polygonen, inkludert målemetode, nøyaktighet og synbarhet. Brukes til å vurdere hvor presist flategeometrien er kartlagt.</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="PolygongeometriPropertyType">
    <sequence>
      <element ref="bymlk:Polygongeometri" />
    </sequence>
  </complexType>
  <element name="PosisjonsKvalitet" substitutionGroup="gml:AbstractObject" type="bymlk:PosisjonsKvalitetType">
    <annotation>
      <documentation>Beskrivelse av kvaliteten på stedfestingen til et objekt, inkludert både horisontal og vertikal målemetode, nøyaktighet og synbarhet. Klassen brukes for å dokumentere hvordan og hvor nøyaktig geometrien er registrert, og viderefører tradisjonelle kvalitetsattributter fra SOSI-standarden._x000D_
_x000D_
Merknad: Posisjonskvalitet er ikke konform med kvalitetsmodellen i ISO 19157:2013, men bygger på tidligere anvendte egenskaper i SOSI for praktisk bruk i kartdata.</documentation>
    </annotation>
  </element>
  <complexType name="PosisjonsKvalitetType">
    <sequence>
      <element name="målemetode" type="bymlk:MålemetodeType">
        <annotation>
          <documentation>Metode eller instrument brukt for innmåling av horisontal posisjon (X/Y). Velges fra standardisert kodeliste.</documentation>
          <appinfo>
            <defaultCodeSpace xmlns="http://www.opengis.net/gml/3.2">https://bym.oslo.no/codelists/ledningskartet/1.0/bymlk_Målemetode.gml</defaultCodeSpace>
          </appinfo>
        </annotation>
      </element>
      <element name="nøyaktighet" type="integer">
        <annotation>
          <documentation>Horisontal nøyaktighet i centimeter, angitt som punktstandardavvik eller tverravvik. Brukes til å vurdere kvalitet i grunnriss (X/Y).</documentation>
        </annotation>
      </element>
      <element name="nøyaktighetHøyde" type="integer">
        <annotation>
          <documentation>Vertikal nøyaktighet i centimeter. Dokumenterer presisjon i høyde (Z).</documentation>
        </annotation>
      </element>
      <element name="målemetodeHøyde" type="bymlk:MålemetodeHøydeType">
        <annotation>
          <documentation>Metode eller instrument brukt for måling av høyde (Z). Velges fra egen kodeliste.</documentation>
          <appinfo>
            <defaultCodeSpace xmlns="http://www.opengis.net/gml/3.2">https://bym.oslo.no/codelists/ledningskartet/1.0/bymlk_MålemetodeHøyde.gml</defaultCodeSpace>
          </appinfo>
        </annotation>
      </element>
      <element name="høydereferanse" type="bymlk:HøydereferanseType">
        <annotation>
          <documentation>Angir hvilken del av objektet høydeverdien refererer til (f.eks. topp, bunn eller senter). Velges fra kodeliste.</documentation>
          <appinfo>
            <defaultCodeSpace xmlns="http://www.opengis.net/gml/3.2">https://bym.oslo.no/codelists/ledningskartet/1.0/bymlk_Høydereferanse.gml</defaultCodeSpace>
          </appinfo>
        </annotation>
      </element>
      <element name="innmålingsstatus" type="bymlk:InnmålingsStatusType">
        <annotation>
          <documentation>Angir hvordan geometrien er etablert (innmålt, ikke innmålt eller importert) og gir informasjon om datakvalitet og opprinnelse. Velges fra kodeliste.</documentation>
          <appinfo>
            <defaultCodeSpace xmlns="http://www.opengis.net/gml/3.2">https://bym.oslo.no/codelists/ledningskartet/1.0/bymlk_InnmålingsStatus.gml</defaultCodeSpace>
          </appinfo>
        </annotation>
      </element>
      <element name="innmålingsdato" type="date">
        <annotation>
          <documentation>Dato for innmåling eller registrering av geometri. Brukes til å vurdere datagrunnlagets aktualitet og kvalitet.</documentation>
        </annotation>
      </element>
      <element name="synbarhet" type="bymlk:SynbarhetType">
        <annotation>
          <appinfo>
            <defaultCodeSpace xmlns="http://www.opengis.net/gml/3.2">https://bym.oslo.no/codelists/ledningskartet/1.0/bymlk_Synbarhet.gml</defaultCodeSpace>
          </appinfo>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="PosisjonsKvalitetPropertyType">
    <sequence>
      <element ref="bymlk:PosisjonsKvalitet" />
    </sequence>
  </complexType>
  <element name="Pullerter" substitutionGroup="bymlk:Fundament" type="bymlk:PullerterType" />
  <complexType name="PullerterType">
    <complexContent>
      <extension base="bymlk:FundamentType">
        <sequence>
          <element name="fundamenttype" type="bymlk:PullerterHevSenkFundamentTypeType">
            <annotation>
              <appinfo>
                <defaultCodeSpace xmlns="http://www.opengis.net/gml/3.2">https://bym.oslo.no/codelists/ledningskartet/1.0/bymlk_PullerterHevSenkFundamentType.gml</defaultCodeSpace>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="PullerterPropertyType">
    <sequence minOccurs="0">
      <element ref="bymlk:Pullerter" />
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup" />
    <attributeGroup ref="gml:OwnershipAttributeGroup" />
  </complexType>
  <simpleType name="PullerterHevSenkFundamentTypeType">
    <annotation>
      <documentation>Fundament til hev/senk pullert iht. kodelisten</documentation>
    </annotation>
    <union memberTypes="bymlk:PullerterHevSenkFundamentTypeEnumerationType bymlk:PullerterHevSenkFundamentTypeOtherType" />
  </simpleType>
  <simpleType name="PullerterHevSenkFundamentTypeEnumerationType">
    <annotation>
      <documentation>Fundament til hev/senk pullert iht. kodelisten</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="annet">
        <annotation>
          <documentation>brukes dersom annet fundament er brukt. Beskriv i infofeltet hvilket fundament som er satt ned.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="pullertRB_C50_800">
        <annotation>
          <documentation>Hev-senk pullert</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="PullerterHevSenkFundamentTypeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}" />
    </restriction>
  </simpleType>
  <element name="Punktgeometri" substitutionGroup="gml:AbstractObject" type="bymlk:PunktgeometriType">
    <annotation>
      <documentation>Datatypen brukes til å etablere en felles struktur for punktgeometri og sikre standardisert beskrivelse av posisjonerte objekter i modellen. _x000D_
_x000D_
Punktet (GM_Point) representerer den romlige plasseringen av objektet – som for eksempel kummer, fundamenter eller termineringspunkt – og kan referere til senterpunkt, bunn, topp eller annet definert målepunkt. Inkluderer også posisjonskvalitet, som dokumenterer nøyaktighet og metode for innmåling.</documentation>
    </annotation>
  </element>
  <complexType name="PunktgeometriType">
    <sequence>
      <element name="geometri" type="gml:PointPropertyType">
        <annotation>
          <documentation>Koordinatposisjon som representerer geometrisk plassering av objektet i terrenget.</documentation>
        </annotation>
      </element>
      <element name="posisjonskvalitet" type="bymlk:PosisjonsKvalitetPropertyType">
        <annotation>
          <documentation>Gir informasjon om kvalitet og metode for hvordan punktets posisjon er bestemt, inkludert nøyaktighet, målemetode og synbarhet.</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="PunktgeometriPropertyType">
    <sequence>
      <element ref="bymlk:Punktgeometri" />
    </sequence>
  </complexType>
  <element name="Skap" substitutionGroup="bymlk:Fundament" type="bymlk:SkapType" />
  <complexType name="SkapType">
    <complexContent>
      <extension base="bymlk:FundamentType">
        <sequence>
          <element name="fundamenttype" type="bymlk:SkapfundamenttypeType">
            <annotation>
              <appinfo>
                <defaultCodeSpace xmlns="http://www.opengis.net/gml/3.2">https://bym.oslo.no/codelists/ledningskartet/1.0/bymlk_Skapfundamenttype.gml</defaultCodeSpace>
              </appinfo>
            </annotation>
          </element>
          <element name="kategori" type="bymlk:SkapfundamentkategoriType">
            <annotation>
              <appinfo>
                <defaultCodeSpace xmlns="http://www.opengis.net/gml/3.2">https://bym.oslo.no/codelists/ledningskartet/1.0/bymlk_Skapfundamentkategori.gml</defaultCodeSpace>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="SkapPropertyType">
    <sequence minOccurs="0">
      <element ref="bymlk:Skap" />
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup" />
    <attributeGroup ref="gml:OwnershipAttributeGroup" />
  </complexType>
  <simpleType name="SkapfundamentkategoriType">
    <union memberTypes="bymlk:SkapfundamentkategoriEnumerationType bymlk:SkapfundamentkategoriOtherType" />
  </simpleType>
  <simpleType name="SkapfundamentkategoriEnumerationType">
    <restriction base="string">
      <enumeration value="annet">
        <annotation>
          <documentation>Fundament for øvrige tekniske skap</documentation>
        </annotation>
      </enumeration>
      <enumeration value="effektskap">
        <annotation>
          <documentation>Fundament for modulært effektskap til hurtiglading</documentation>
        </annotation>
      </enumeration>
      <enumeration value="fiberkabinett">
        <annotation>
          <documentation>Fundament for ekom/fiberkabinett</documentation>
        </annotation>
      </enumeration>
      <enumeration value="koblingsskap">
        <annotation>
          <documentation>Fundament for koblingsskap (lavspent fordeling)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="styreskap">
        <annotation>
          <documentation>Fundament for styreskap (styring/regulering)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="TPskap">
        <annotation>
          <documentation>Fundament for tilknytningspunkt / målerskap (grensesnitt nettselskap)</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="SkapfundamentkategoriOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}" />
    </restriction>
  </simpleType>
  <simpleType name="SkapfundamenttypeType">
    <annotation>
      <documentation>Fundamenter til diverse skaptyper iht
 kodelisten</documentation>
    </annotation>
    <union memberTypes="bymlk:SkapfundamenttypeEnumerationType bymlk:SkapfundamenttypeOtherType" />
  </simpleType>
  <simpleType name="SkapfundamenttypeEnumerationType">
    <annotation>
      <documentation>Fundamenter til diverse skaptyper iht
 kodelisten</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="annet" />
      <enumeration value="betongPlasstopt" />
      <enumeration value="betongPrefabrikert" />
    </restriction>
  </simpleType>
  <simpleType name="SkapfundamenttypeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}" />
    </restriction>
  </simpleType>
  <simpleType name="SynbarhetType">
    <union memberTypes="bymlk:SynbarhetEnumerationType bymlk:SynbarhetOtherType" />
  </simpleType>
  <simpleType name="SynbarhetEnumerationType">
    <restriction base="string">
      <enumeration value="1">
        <annotation>
          <documentation>Objektets posisjon er vanskelig å definere presist i terrenget på grunn av objektets natur eller manglende kontrast mot omgivelsene. Koden kan f.eks. brukes på høydekurver (eller andre isolinjer) eller objekter som er skjult i bakken (f.eks. innmåling av ledninger på lukket grøft)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="0">
        <annotation>
          <documentation>Objektet er fullt ut synlig/gjenfinnbart i flybilde eller annen datakilde for posisjonering. Ved fotogrammetrisk registrering skal objekter som er fullt ut synlige registreres i tråd med angitte krav til nøyaktig registrering.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="3">
        <annotation>
          <documentation>Objektet er ikke synlig/gjenkjennbart i flybilde eller annen datakilde for posisjonering. Ved fotogrammetrisk datafangst brukes denne koden for objekter som er helt skjult av overliggende objekter (vegetasjon, takoverbygg, bruer etc.). For slike objekter settes en stor verdi for nøyaktighet (mer enn 3 ganger kravet)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="2">
        <annotation>
          <documentation>Objektet er middels synlig/gjenkjennbart i flybilde eller annen datakilde for posisjonering. Ved fotogrammetrisk datafangst brukes denne koden for objekter som har lav kontrast eller er delvis skjult av overliggende objekter (vegetasjon, takoverbygg, bruer etc.). For slike objekter settes en større verdi for nøyaktighet enn kravet (opptil 3 ganger kravet)</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="SynbarhetOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}" />
    </restriction>
  </simpleType>
  <element name="Trase" substitutionGroup="bymlk:Føringsvei" type="bymlk:TraseType">
    <annotation>
      <documentation>Trasè representerer en senterlinje for én eller flere trekkerør mellom to termineringspunkter. Alle rør innenfor samme trasè skal ha felles start- og endepunkt. 
Dersom flere rør ligger i samme grøft eller kanal, men terminerer i ulike endepunkter, skal disse registreres som separate traseer. Det kan derfor forekomme flere parallelle traseer innenfor samme grøft eller kanal.
Trasèen registreres som en linjegeometri langs senter av grøft eller kanal, uavhengig av antall rør som ligger i føringsveien. Trasèen kan inneholde avbøyninger, men representerer én sammenhengende forbindelse mellom samme start- og endepunkt.</documentation>
    </annotation>
  </element>
  <complexType name="TraseType">
    <complexContent>
      <extension base="bymlk:FøringsveiType">
        <sequence>
          <element name="linje" type="bymlk:LinjegeometriPropertyType">
            <annotation>
              <documentation>Linje som representerer senterlinje for trase mellom felles start- og endepunkt. Inkluderer posisjonskvalitet.</documentation>
            </annotation>
          </element>
          <element name="antallRørEiesAvBYM" type="integer">
            <annotation>
              <documentation>Antall rør eller trekkerør i traseen som eies av Bymiljøetaten. Oppgis som heltall.</documentation>
            </annotation>
          </element>
          <element name="antallRørEiesAvAndre" type="integer">
            <annotation>
              <documentation>Antall rør som eies av andre aktører i traseen. Oppgis som heltall.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="TrasePropertyType">
    <sequence minOccurs="0">
      <element ref="bymlk:Trase" />
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup" />
    <attributeGroup ref="gml:OwnershipAttributeGroup" />
  </complexType>
  <element name="Trekkekum" substitutionGroup="bymlk:Kopling" type="bymlk:TrekkekumType">
    <annotation>
      <documentation>Et fysisk objekt, vanligvis laget av stål, plast eller betong, som er gravd ned i bakken for å skape et lukket rom. Inne i kummen finnes koplinger, koblingspunkter eller skjøter hvor ledninger, kabler eller rør fra et nettverk er tilkoblet. Kummen gir tilgang til disse forbindelsene for inspeksjon, vedlikehold og reparasjon uten behov for å grave opp bakken. Kummen registreres med polygongeometri som representerer kummens omriss og utstrekning i terrenget. Høyde refereres til bunn innvendig kum. For runde kummer registreres omriss basert på bunn kum, og diameter oppgis som egen verdi.</documentation>
    </annotation>
  </element>
  <complexType name="TrekkekumType">
    <complexContent>
      <extension base="bymlk:KoplingType">
        <sequence>
          <element name="kategori" type="bymlk:TrekkekumKategoriType">
            <annotation>
              <documentation>Trekkekum kategori: Angir kummens form, for eksempel rund, kvadratisk eller Ågekorskum. Verdien velges fra kodelisten TrekkekumKategori.</documentation>
              <appinfo>
                <defaultCodeSpace xmlns="http://www.opengis.net/gml/3.2">https://bym.oslo.no/codelists/ledningskartet/1.0/bymlk_TrekkekumKategori.gml</defaultCodeSpace>
              </appinfo>
            </annotation>
          </element>
          <element name="omriss" type="bymlk:PolygongeometriPropertyType">
            <annotation>
              <documentation>Polygon som representerer kummens omriss bunn kum. Geometrien benyttes for korrekt visning, rotasjon og posisjonering, og inkluderer posisjonskvalitet.</documentation>
            </annotation>
          </element>
          <element name="merking" type="bymlk:MerketypeType">
            <annotation>
              <documentation>Angir hvordan kummen er fysisk merket innvendig. Verdien «Ingen» betyr at objektet ikke er merket. Øvrige verdier beskriver type merking, for eksempel merkeplate eller maling/spraymerking. Verdien velges fra kodeliste.</documentation>
              <appinfo>
                <defaultCodeSpace xmlns="http://www.opengis.net/gml/3.2">https://bym.oslo.no/codelists/ledningskartet/1.0/bymlk_Merketype.gml</defaultCodeSpace>
              </appinfo>
            </annotation>
          </element>
          <element name="antallRørEiesAvBYM" type="integer">
            <annotation>
              <documentation>Angir antall rør i kummen som eies av Bymiljøetaten. Oppgis som heltall. Dersom kummen inneholder oransje rør, regnes kummen som eid av BYM selv om andre aktører også har rør terminert i kummen.</documentation>
            </annotation>
          </element>
          <element name="antallRørEiesAvAndre" type="integer">
            <annotation>
              <documentation>Angir antall rør i kummen som eies av andre aktører enn BYM. Oppgis som heltall. Informasjon om rørfarge og eier registreres under objektet «trekkerør».</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="TrekkekumPropertyType">
    <sequence minOccurs="0">
      <element ref="bymlk:Trekkekum" />
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup" />
    <attributeGroup ref="gml:OwnershipAttributeGroup" />
  </complexType>
  <simpleType name="TrekkekumKategoriType">
    <annotation>
      <documentation>Angir kummens form, for eksempel rund, kvadratisk eller Ågekorskum. Verdien velges fra kodelisten Kumformtype.</documentation>
    </annotation>
    <union memberTypes="bymlk:TrekkekumKategoriEnumerationType bymlk:TrekkekumKategoriOtherType" />
  </simpleType>
  <simpleType name="TrekkekumKategoriEnumerationType">
    <annotation>
      <documentation>Angir kummens form, for eksempel rund, kvadratisk eller Ågekorskum. Verdien velges fra kodelisten Kumformtype.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="kvadratisk" />
      <enumeration value="rektangulaer" />
      <enumeration value="sarkofag" />
      <enumeration value="sirkelforma" />
      <enumeration value="aagekorskum" />
      <enumeration value="annet" />
    </restriction>
  </simpleType>
  <simpleType name="TrekkekumKategoriOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}" />
    </restriction>
  </simpleType>
  <element name="TrekkekumRamme" substitutionGroup="gml:AbstractFeature" type="bymlk:TrekkekumRammeType">
    <annotation>
      <documentation>Trekkekumramme representerer ramme og lokk tilknyttet en trekkekum. Objektet beskriver den synlige delen av kummen i terrengnivå, inkludert ramme og lokk/rister. 
Kumrammen registreres med polygongeometri som representerer omriss av topp kumramme i horisontalplanet. Ulike ramme- og lokktyper registreres som egne egenskaper.</documentation>
    </annotation>
  </element>
  <complexType name="TrekkekumRammeType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="lokktype" type="bymlk:TrekkekumlokkTypeType">
            <annotation>
              <documentation>Angir formtype på kumlokk eller rist, for eksempel rund, kvadratisk eller delt. Verdien velges fra kodeliste.</documentation>
              <appinfo>
                <defaultCodeSpace xmlns="http://www.opengis.net/gml/3.2">https://bym.oslo.no/codelists/ledningskartet/1.0/bymlk_TrekkekumlokkType.gml</defaultCodeSpace>
              </appinfo>
            </annotation>
          </element>
          <element name="rammeform" type="bymlk:TrekkekumrammeFormType">
            <annotation>
              <documentation>Angir form på kumrammen, for eksempel oval, kvadratisk eller TK1/TK2-ramme. Verdien velges fra kodeliste.</documentation>
              <appinfo>
                <defaultCodeSpace xmlns="http://www.opengis.net/gml/3.2">https://bym.oslo.no/codelists/ledningskartet/1.0/bymlk_TrekkekumrammeForm.gml</defaultCodeSpace>
              </appinfo>
            </annotation>
          </element>
          <element name="omriss" type="bymlk:PolygongeometriPropertyType">
            <annotation>
              <documentation>Flategeometri som representerer den totale fysiske utstrekningen av kumlokkrammen i horisontalplanet. Inkluderer posisjonskvalitet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="navn" type="string">
            <annotation>
              <documentation>Navn gitt til objektet i prosjekteringsgrunnlaget (IN-tegninger), for eksempel «BYM-01» eller «KM-01».</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="uuid" type="string">
            <annotation>
              <documentation>Universell unik identifikator: Universell unik identifikator (GUID) for objektet. Verdien genereres automatisk og sikrer global entydighet på tvers av systemer og databaser. Brukes til å koble objekter på tvers av datasett og forvaltningssystemer, og endres ikke selv om andre egenskaper ved objektet oppdateres.</documentation>
            </annotation>
          </element>
          <element name="bredde" type="double">
            <annotation>
              <documentation>Objektets visuelle bredde i kart, oppgitt i meter. Brukes til å styre symbolbredde.</documentation>
            </annotation>
          </element>
          <element name="diameter" type="double">
            <annotation>
              <documentation>Brukes ved sirkulær visning for å angi diameter i meter.</documentation>
            </annotation>
          </element>
          <element name="lengde" type="double">
            <annotation>
              <documentation>Objektets visuelle lengde i kart, oppgitt i meter. Brukes til å skalere symboler i lengderetning.</documentation>
            </annotation>
          </element>
          <element name="høyde" type="double">
            <annotation>
              <documentation>Objektets visuelle dybde eller høyde i vertikal retning, oppgitt i meter. Brukes til å representere tykkelse eller vertikal utstrekning i symbolisering.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="merknad" type="string" />
          <element minOccurs="0" name="rotasjon" type="double">
            <annotation>
              <documentation>Rotasjonsvinkel i kartvisning, angitt som matematisk vinkel i grader (mot klokken fra x-aksen). Brukes til å vri symbolet i kartet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="tilknyttetKum" type="bymlk:TrekkekumPropertyType" />
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="TrekkekumRammePropertyType">
    <sequence minOccurs="0">
      <element ref="bymlk:TrekkekumRamme" />
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup" />
    <attributeGroup ref="gml:OwnershipAttributeGroup" />
  </complexType>
  <simpleType name="TrekkekumlokkTypeType">
    <annotation>
      <documentation>Angir formtype på kumlokk eller rist, for eksempel rund, kvadratisk eller delt. Verdien velges fra kodeliste.</documentation>
    </annotation>
    <union memberTypes="bymlk:TrekkekumlokkTypeEnumerationType bymlk:TrekkekumlokkTypeOtherType" />
  </simpleType>
  <simpleType name="TrekkekumlokkTypeEnumerationType">
    <annotation>
      <documentation>Angir formtype på kumlokk eller rist, for eksempel rund, kvadratisk eller delt. Verdien velges fra kodeliste.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="annet">
        <annotation>
          <documentation>Brukes når kumlokket har en form som ikke dekkes av de andre verdiene. Beskriv kumlokk form i infofeltet.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="eksentriskdelte">
        <annotation>
          <documentation>Kumlokk for stolpe, som er plassert eksentrisk i kum. Brukes for signalanlegg</documentation>
        </annotation>
      </enumeration>
      <enumeration value="kvadratisk">
        <annotation>
          <documentation>Kumlokk med firkantet form.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="sentriskdelte">
        <annotation>
          <documentation>Kumlokk for stolpe, som er plassert sentrisk i kum. Brukes for signalanlegg</documentation>
        </annotation>
      </enumeration>
      <enumeration value="sirkelforma">
        <annotation>
          <documentation>Kumlokk med rund form.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="rektangulaer">
        <annotation>
          <documentation>Kumlokk med firkantet form.</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TrekkekumlokkTypeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}" />
    </restriction>
  </simpleType>
  <simpleType name="TrekkekumrammeFormType">
    <annotation>
      <documentation>Angir form på kumrammen, for eksempel oval, kvadratisk eller TK1/TK2-ramme. Verdien velges fra kodeliste.</documentation>
    </annotation>
    <union memberTypes="bymlk:TrekkekumrammeFormEnumerationType bymlk:TrekkekumrammeFormOtherType" />
  </simpleType>
  <simpleType name="TrekkekumrammeFormEnumerationType">
    <annotation>
      <documentation>Angir form på kumrammen, for eksempel oval, kvadratisk eller TK1/TK2-ramme. Verdien velges fra kodeliste.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="tk1">
        <annotation>
          <documentation>Kvadratisk kumramme med ett kumlokk.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="tk2">
        <annotation>
          <documentation>Rektangulær kumramme</documentation>
        </annotation>
      </enumeration>
      <enumeration value="tk3">
        <annotation>
          <documentation>Rektangulær kumramme</documentation>
        </annotation>
      </enumeration>
      <enumeration value="sirkelforma">
        <annotation>
          <documentation>Sirkelformet / rund kumramme.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="oval">
        <annotation>
          <documentation>Oval kumramme, brukt der en trenger runde kjøresterke lokk.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="annet">
        <annotation>
          <documentation>Kumramme med form som ikke faller inn under de øvrige kategoriene. Beskriv i infofeltet</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TrekkekumrammeFormOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}" />
    </restriction>
  </simpleType>
  <element name="Trekkerør" substitutionGroup="bymlk:Fremfoeringslinje" type="bymlk:TrekkerørType">
    <annotation>
      <documentation>Alle nye trekkerør som etableres for BYM skal registreres. Primært skal ledningsdatabasen dokumentere BYM sine oransje trekkerør.
Trekkerør registreres som egne objekter med linjegeometri som representerer plasseringen til hvert enkelt rør i en trasè. Tilhørende informasjon om eier, rørfarge og dimensjon registreres på hvert trekkerør.</documentation>
    </annotation>
  </element>
  <complexType name="TrekkerørType">
    <complexContent>
      <extension base="bymlk:FremfoeringslinjeType">
        <sequence>
          <element name="diameter" type="bymlk:TrekkerørDiameterType">
            <annotation>
              <documentation>Angir dimensjon på trekkerøret. Verdien velges fra kodeliste.</documentation>
              <appinfo>
                <defaultCodeSpace xmlns="http://www.opengis.net/gml/3.2">https://bym.oslo.no/codelists/ledningskartet/1.0/bymlk_TrekkerørDiameter.gml</defaultCodeSpace>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="merking" type="bymlk:MerketypeType">
            <annotation>
              <documentation>Angir hvordan objektet (kum, rør eller trase) er fysisk merket i terrenget. Verdien velges fra kodelisten Merketype._x000D_
Verdien Ingen betyr at objektet ikke er merket. Øvrige verdier beskriver hvilken type merking som er benyttet, for eksempel merkeplate eller maling/spraymerking. Informasjonen brukes til drift, kontroll og dokumentasjon.</documentation>
              <appinfo>
                <defaultCodeSpace xmlns="http://www.opengis.net/gml/3.2">https://bym.oslo.no/codelists/ledningskartet/1.0/bymlk_Merketype.gml</defaultCodeSpace>
              </appinfo>
            </annotation>
          </element>
          <element name="rørfarge" type="bymlk:TrekkerørFargeType">
            <annotation>
              <documentation>Angir farge på trekkerøret. Verdien velges fra kodeliste og brukes til å identifisere eier og/eller funksjon.</documentation>
              <appinfo>
                <defaultCodeSpace xmlns="http://www.opengis.net/gml/3.2">https://bym.oslo.no/codelists/ledningskartet/1.0/bymlk_TrekkerørFarge.gml</defaultCodeSpace>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="TrekkerørPropertyType">
    <sequence minOccurs="0">
      <element ref="bymlk:Trekkerør" />
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup" />
    <attributeGroup ref="gml:OwnershipAttributeGroup" />
  </complexType>
  <simpleType name="TrekkerørDiameterType">
    <annotation>
      <documentation>Angir dimensjon på trekkerøret. Verdien velges fra kodeliste.</documentation>
    </annotation>
    <union memberTypes="bymlk:TrekkerørDiameterEnumerationType bymlk:TrekkerørDiameterOtherType" />
  </simpleType>
  <simpleType name="TrekkerørDiameterEnumerationType">
    <annotation>
      <documentation>Angir dimensjon på trekkerøret. Verdien velges fra kodeliste.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="110mm" />
      <enumeration value="20mm" />
      <enumeration value="40mm">
        <annotation>
          <documentation>single 40mm rør</documentation>
        </annotation>
      </enumeration>
      <enumeration value="50mm" />
      <enumeration value="75mm" />
      <enumeration value="andre">
        <annotation>
          <documentation>beskriv i merknadsfeltet hvilke rør som er lagt dersom det ikke finnes i lista</documentation>
        </annotation>
      </enumeration>
      <enumeration value="mikroroerUnder20mm" />
    </restriction>
  </simpleType>
  <simpleType name="TrekkerørDiameterOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}" />
    </restriction>
  </simpleType>
  <simpleType name="TrekkerørFargeType">
    <annotation>
      <documentation>Angir farge på trekkerøret. Verdien velges fra kodeliste og brukes til å identifisere eier og/eller funksjon.</documentation>
    </annotation>
    <union memberTypes="bymlk:TrekkerørFargeEnumerationType bymlk:TrekkerørFargeOtherType" />
  </simpleType>
  <simpleType name="TrekkerørFargeEnumerationType">
    <annotation>
      <documentation>Angir farge på trekkerøret. Verdien velges fra kodeliste og brukes til å identifisere eier og/eller funksjon.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="annet">
        <annotation>
          <documentation>oppgis i merknadfelt</documentation>
        </annotation>
      </enumeration>
      <enumeration value="blaa" />
      <enumeration value="groen" />
      <enumeration value="gul" />
      <enumeration value="lilla" />
      <enumeration value="oransje" />
      <enumeration value="roed" />
      <enumeration value="sort" />
    </restriction>
  </simpleType>
  <simpleType name="TrekkerørFargeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}" />
    </restriction>
  </simpleType>
</schema>